body {
    font-family: Arial, sans-serif;
}
.kontainer {
    width: 1000px;
    margin: 2em auto;
    padding: 2em;
    background: #1f1f2b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.grid {
    height: 2;
}

label {
    display: grid;
        grid-template-columns: 1fr 2fr;
    margin: 10px 0;
    padding: 0;
}
input, textarea {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
textarea {
    height: 10em;
    width: 100%;
}
button {
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    background: #007bff;
    color: white;
    cursor: pointer;
}
input {
    width: 3em;
}
img {
    width: 16em;
}
.total {
    background-color: #DDD;
    padding: 5px;
}
form.grid{
    grid-template-columns: 2fr 1fr;
}

.grid .submit{
    margin-top: 170px;
    width: 170px;
}
label {
    width: 1790px;
}
label textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}